  div#runtime {
    width: 300px;
    margin: auto;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(228, 41, 41, 0.7);
  }

  .avatar {
    width: 50px;
    border-radius: 100%;
  }

  .loveTimerDiv {
    text-align: center;
  }