  div#runtime {
    width: 220px;
    margin: auto;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(228, 41, 41, 0.7);
    font-family: 'UnidreamLED';
  }
  [data-theme="dark"] div#runtime {
    color: #28b4c8;
    box-shadow: 0 0 5px rgba(28,69,218,0.71);
    animation: flashlight 1s linear infinite alternate;
  }

  .avatar {
    width: 50px;
    border-radius: 100%;
  }

  .loveTimeDiv {
    text-align: center;
  }

  .heart {
      width: 20px;
  }